# This file specifies files that are _not_ uploaded to Google Cloud

# using gcloud. It follows the same syntax as .gitignore, with the addition of

# "#!include" directives (which insert the entries of the given .gitignore-style

# file at that point).

#

# For more information, run:

# $ gcloud topic gcloudignore

#

.gcloudignore

# If you would like to upload your .git directory, .gitignore file or files

# from your .gitignore file, remove the corresponding line

# below:

.git
.gitignore

# Python pycache:

**pycache**/

# Ignored by the build system

/setup.cfg

# Ignore venv

venv/
venv_new/

# Ignore Compiled Python Files

_.pyc
_.pyo
\*.pyd

# Ignore Cache directories

**pycache**/
.pytest_cache/

# Ignore the following files and directories:

.git/
.gitignore
**pycache**/
_.pyc
_.pyo
_.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
_.orig
_.log
_.pot
_.pyc
_.pyo
\*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
venv_new.bak/
